article{
    display: grid;
    grid-template-areas: 
    "img"
    "txt";
    margin: 1rem;
    border-radius: 5px;
}

article:hover{
    cursor: pointer;
    transform: scale(1.01, 1.01);
    transition: transform 1s cubic-bezier(0.20, 0.40, 0.40, 0.90);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
} 

.card{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
}

.card-text-section{
    height: 10rem;
    grid-area: txt; 
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
}

.card-image-section{
height: 20rem;
grid-area: img;
border-radius: 5px;
}

.card-image-section > img{
    width:100%;
    height:100%;
    border-radius: 5px 5px 0 0;
    }

.card-avatar-section{
    height: 40%;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #ffdb58;
}


.card-title-section{
    height: 60%;
    flex-direction: row;
    display: flex;
}

    .card-avatar{
        width: 2.7rem;
        height: 2.7rem;
        margin-left: 1rem;
        margin-top: .5rem;
    }

    .card-avatar-name{
        color: grey;
        margin-top: 1rem;
        margin-left: .5rem;
        font-weight: 700;
        font-family: "Raleway",sans-serif;
        font-size: .75rem;
    }

    .card-title{
        font-size: 1.5rem;
        justify-content: center;
        font-family: "Playfair Display",serif;
        font-weight: bold;
        margin-left: .5rem;
    }